/*Global styles*/
*{
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
/*Home*/
#home{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding:120px;
    background-image: url("background\ \(2\).png");
    background-size: cover;
}
#motto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 350px;
    background-color: var(--White--);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
#motto .motto h1{
    text-align: center;
}
#home .button button{
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: none;
}

#home .button .colored{
    background-color: var(--Color--);
    color: var(--White--);
    font-family:var(--Font-family);
}
#home .button .uncolored{
    background-color: var(--White--);
    color: var(--Color--);
    font-family:var(--Font-family);
    border: 1px solid var(--Color--);
}
#home .button .colored:hover{
    background-color: var(--White--);
    color: var(--Black--);
    border: 1px solid var(--Color--);
    transition: 0.8s linear;
}
#home .button .uncolored:hover{
    background-color: var(--Color--);
    color: var(--White--);
    transition: 0.8s linear;
}
/*Our company*/
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    margin-top: 7%;
}

#about #title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--Color--);
}

#about #cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

#about #cards div{
    width:400px;
    height: 400px;
    background-color: var(--White--);
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
    transition: 2s all ease-in-out;
}

.mission,
.vision,
.values{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border-top: 10px solid var(--Color--);
    border-top-right-radius: 10px;
}

.vision h1,
.mission h1,
.values h1{
    font-size: 1.5rem;
    color: var(--Color--);
}

.vision p,
.mission p,
.values p{
    width: 300px;
    text-align: center;
    font-size: 1rem;
}
/*Whatwedo*/
.wrapper{
    position: relative;
    max-width: 1130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .cart-nav{
    position: absolute;
    right: 0;
    top: -35%;
    width: 130px;
    background: #fff;
    padding: 13px 15px;
    border-radius: 3px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
  }
  .cart-nav .icon{
    color: #ff7979;
  }
  .cart-nav .icon i{
    font-size: 20px;
  }
  .cart-nav .icon span{
    font-weight: 500;
  }
  .cart-nav .item-count{
    font-size: 15px;
    height: 23px;
    width: 23px;
    color: #ff7979;
    background: #ffcccc;
    text-align: center;
    line-height: 22px;
    border: 1px solid #ffb3b3;
    border-radius: 50%;
  }
  .wrapper .card{
    position: relative;
    background: #fff;
    border-radius: 3px;
    width: calc(33% - 13px);
    overflow: hidden;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
  }
  .wrapper .card img{
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  .card:hover img{
    transform: scale(1.1);
  }
  .wrapper .card .content{
    position: absolute;
    width: 100%;
    bottom: -50%;
    background: #fff;
    padding: 10px 20px 22px 20px;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
  }
  .wrapper .card:hover .content{
    bottom: 0;
  }
  .card .content .row,
  .content .buttons{
    display: flex;
    justify-content: space-between;
  }
  .content .row .details span{
    font-size: 22px;
    font-weight: 500;
  }
  .content .row .details p{
    color: #333;
    font-size: 17px;
    font-weight: 400;
  }
  .content .row .price{
    color: #ff7979;
    font-size: 25px;
    font-weight: 600;
  }
  .content .buttons{
    margin-top: 20px;
  }
  .content .buttons button{
    width: 100%;
    padding: 9px 0;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid #ff7979;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .buttons button:first-child{
    color: #ff7979;
    margin-right: 10px;
    background: #fff;
  }
  button:first-child:hover{
    color: #fff;
    background: #ff7979;
  }
  .buttons button:last-child{
    color: #fff;
    margin-left: 10px;
    background: #ff7979;
  }
  button:last-child:hover{
    background: #ff6666;
    border-color: #ff6666;
  }
/*Founders*/
#founders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 8%;
    padding: 70px;
}

#founders h1{
    font-size: 2rem;
    color: var(--Color--);
}

#founders #main{
    display: flex;
    gap: 20px;
    background-color: var(--Color--);
    color: var(--White--);
    width: 860px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 90px;
}
#founders #main .text p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#founder #main .text span , li , p{
    display: flex;
    gap: 20px;
}
#founder #main .text p li{
    display: flex;
    justify-content: center;
    align-items: center;
}
#founders #main .text span{
    font-size: 1.2rem;
    text-decoration: underline;
}
#founders #main .text li {
    display: inline-block;
    margin: 20px;
    list-style:circle;
    
}
#founders #main .text li a{
    color: var(--White--);
}
#founders #main .profile,
#founders #main img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

#founders section p{
    text-align: center;
}

/*Story*/
#story{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 8%;
}

#story .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#story .text h1{
    font-size: 2rem;
    color: var(--Color--);
}

#story .text p{
    font-size: 1.2rem;
    width: 500px;
    text-align: center;
}

#story .image img{
    width:500px;
    height: 400px;
}

#teams{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8%;
    gap: 20px;
    padding: 60px;
}

#teams #title h1{
    font-size: 2rem;
    color: var(--Color--);
}

#teams #main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

#teams #main article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teams #main article img{
    width: 250px;
}

#teams #main article h1{
    font-size: 1.5rem;
    color: var(--Color--);
}

#teams #main article p{
    font-size: 1rem;
    color: var(--Black--);
}
.hidden{
    opacity: 0;
    transform: translateX(-600px);
    transition: all 3s;
  }
  
.show {
    opacity: 1;
    transform: translateX(0);
  }
  
/*Scroll bar*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--LightGray--); 
}
::-webkit-scrollbar-thumb {
    background-color: var(--Color--); 
}

@media(max-width:1024px){
    #header{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    #header .image img{
       display: none;
    }
   }
   @media(max-width:768px){
    .motto{
        font-size: 2rem;
        width: 400px;
        text-align: center;
    }
    #whatwedo .title h1 , #founders #title h1 , #story .text h1 , #teams #title h1{
        font-size: 1.2rem;
    }
    #about #cards article{
        width: 320px;
    }
    header,main,footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .desktop #btn{
        display: none;
    }
    .cursor{
        display: none;
    }
    .cards{
        width: 100px;
    }
    .mobile ul{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    .hidden{
        opacity: 1;
        transform:none;
        transition: none;
      }
      
    .show {
        opacity: 1;
        transform: none;
      }
      #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .logo_and_join , .subnote{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .logo{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
    #whatwedo .one, .two , .three{
    font-size: 1rem;
    border-right: none;
    border-top: 3px solid var(--Color--);
    border-bottom: 3px solid var(--Color--);
    }
    #whatwedo .two{
        border-top: none;
    }
    #whatwedo .three{
        border-top: none;
    }
    #teams #main article img{
    width: 150px;
    } 
    #teams #main article p{
        font-size: 1rem;
        color: var(--Color--);
    }
     #founders #main .two{
        font-size: 1rem;
        width: 300px;
     }
    .cursor{
    display: none;
    }
}
@media(max-width:425px){
    header,main,footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cursor{
        display: none;
    }
    .desktop #links {
        display: none;
    }
    .desktop #btn{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
    .mobile ul{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
}

