/*main*/
main #main{
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: var(--Color--);
color: var(--White--);
padding: 200px;
font-size: 2em;
text-align: center;

}
@media(max-width:768px){
.cursor{
          display: none;
}
}
@media(max-width:468px){
.cursor{
          display: none;
}
}
