/*main*/
main #main{
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: var(--Color--);
color: var(--White--);
padding: 200px;
font-size: 2em;
text-align: center;

}

